.content-banner {
  height: 465px;

  @include desktop {
    height: 545px;
  }
}

.about-banner {
  background-image: url("../../images/RA-logo.svg");
  height: 429px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  @include tablet {
    background-position: center;
  }

  @include desktop {
    // height: 92vh;
    height: 100vh;
    background-attachment: fixed;
  }
}

.white-logo {
  background-image: url("../../images/RA-logo.svg");
  position: absolute;
  width: 102px;
  height: 102px;
  margin-left: 20px;
  margin-top: 18px;
  background-repeat: no-repeat;
  background-size: 78%;
  background-repeat: no-repeat;

  @include desktop {
    width: 102px;
    height: 102px;
    background-size: 80%;
  }
}

.about-statement {
  font-size: 30px;
  width: 400px;
  color: #0f4ab4;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 80px;


  @include tablet {
    width: 650px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include desktop {
    width: 650px;
    font-size: 35px;
  }
}
.content-section {
.blog-wrapper {
  
  .about-carousel {
    height: 900px;
    @include desktop { 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .about-post {
    width: 357px;
    margin-right: 32px;
    margin-left: 32px;
    @include tablet {
      width: 600px;
      margin-right: 82px;
      margin-left: 82px;
    }
    @include desktop { 
     
      width: 320px;
      margin-right: 10px;
      margin-left: 10px;
    }

    @include desktop-large { 
  width: 450px;
  margin-right: 60px;
  margin-left: 60px;
    }
  
    .about-content {
      margin-top: 20px;
    }

    .about-entry-meta {
      border-top: solid 1px grey;
      padding-top: 20px;
      margin-bottom: 50px;
      a {
        text-decoration: none;
      }

      .text {
        text-decoration: none;
        color: #0f4ab4;
      }
    }
  }
}
}
}