.blog-hero-image {

  height: 86vh;
  width: 100vw;
  background: red;

}

.blog-wrapper {

  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  height: 500px;

  @include tablet {
    width: 95%;
    height: 540px;
  }

  @include desktop {
    height: 570px;
  }
  

  .blog-carousel{

    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    height: 100%;
    
    .post1{
    
      display: inline-block;
      height: 100%;
      background-color: white;
      white-space: normal;
      vertical-align: top;
      padding: 0;
      @include tablet {

        width: 275px;
        margin-right: 15px;

      }

      @include desktop {

        width: 380px;

      }

      h3{

        height: 2.5rem;
        font-size: 1.5rem;	
        margin: 0;
        color: $color__brand;
        font-weight: 800;

        @include tablet {
          line-height: 1.5rem;
          margin-bottom: 10px;
          font-size: 20px;
        }

        @include desktop {
          font-size: 25px;
        }

      }
      img {

        height: auto;
        width: 100%;

      }

      article {

        margin: 0;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .upper-content {

          display: flex;
          flex-flow: column nowrap;
          height: 100%;

          .entry-content {

            font-size: .9rem;
            margin-top: 0;
            @include tablet {
              font-size: 1.1rem;
            }
  
          }
        }
      }
    }
  }
}

.blog-entry-meta{

  display: flex;
  justify-content: space-between;
  font-size: 14px;

  p {

    display: flex; 
    align-items: center;

  }

  .blog-entry-meta-author{

    text-transform: capitalize;
    display: none; 

    @include tablet {

      display: inline;

    }

  }
}

.wrapper-progress-blog {

  background-color: $color__border-gray;
  width: 90vw;
  margin: 20px auto;

  @include tablet {
    width: 95vw;
  }

  .inside-progress {

    height: 4px;
    background-color: $color__text-main;
    width: 0;


  }

}

//for now since someone is working on hero page

.will-be-hero{
  height: 87vh;
  background-size:cover; 
  background-position: center;
  background-attachment: fixed;
}

.bottom-margin-50{
  margin-bottom: 50px;
}

//styling the search form

.blog-button-styling{

  button {

    border: none; 
    background: none;
    box-shadow: none;

  }

  input:focus {

    outline:none;

  }

}