.menu-toggle { 
    display: none;
}

.frontpage-top-content { 
    height: 62vh;

    @include tablet { 
        height: 70vh;
    }

    @include desktop {
        height: 100vh;
        // display: flex;
        // flex-direction: row-reverse;
    
        
    }
}
.ra-statement {
width: 260px;
line-height: 1.7;
    margin-left: 20px;
    font-family: Avenir Book;
    font-size: 27px;
    font-weight: 300rem;
    font-weight: bold;
    color: #0f4ab4;
    font-weight: bolder;
    margin-top: 0;

    @include tablet { 
        width: 359px;
        margin-bottom: 0;
        margin-left: 100px;
        margin-top: 44px;
    }
    @include desktop {
        margin-top: 100px;
        width: 272px;
    }
}

.home-statement { 
    font-family: 'Avenir Book';
    text-align: left;
    line-height: 1.7;
    margin-left: 20px;
    width: 270px;
    font-size: 16px;

    @include tablet { 
        width: 442px;
        margin-left: 100px;
    }

    @include desktop {
        
        width: 253px;
    }
}

.image-class { 
    height: 62vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -72px;

    @include tablet { 
        height: 70vh;
    }

@include desktop {
    // height: 100vh;
    // width: 60%;
    // width: 58%;
    // background-position: top right;
    height: calc(100vh - 75px);
    background-position: 100% 0;
    background-size: contain;
 }
}
.frontpage-content {
    margin: 0;

    @include desktop {
        // position: fixed;
        // top: 137px;
        // margin: 0 auto;
        // background-repeat: no-repeat;
        // background-color: white;
        // position: absolute;
        // height: 100vh;
        // width: 48%;
        top: 33px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 48%;
    }
}




.ra-front-page-logo {
    display: none;
    @include desktop {
    background-image:url('../../images/RA-blue-logo.svg');
      width: 102px;
      height: 102px;
      margin-left: 20px;
      margin-top: 50px; 
      display: inherit;
    }
}