.menu-toggle { 
    display: none;
}

.frontpage-top-content { 
    height: 386px;

    @include tablet { 
        height: 440px;
    }

    @include desktop {
        height: 740px;
        // display: flex;
        // flex-direction: row-reverse;
    
        
    }
}
.ra-statement {
width: 260px;
line-height: 1.7;
    margin-left: 20px;
    font-family: Avenir Book;
    font-size: 27px;
    font-weight: 300rem;
    font-weight: bold;
    color: #0f4ab4;
    font-weight: bolder;
    margin-top: 0;

    @include tablet { 
        width: 359px;
        margin-bottom: 0;
        margin-left: 100px;
    }
    @include desktop {
        margin-top: 100px;
        width: 272px;
    }
}

.home-statement { 
    font-family: 'Avenir Book';
    text-align: left;
    line-height: 1.7;
    margin-left: 20px;
    width: 270px;
    font-size: 16px;

    @include tablet { 
        width: 442px;
        margin-left: 100px;
    }

    @include desktop {
        
        width: 253px;
    }
}

.image-class { 
    height: 429px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -72px;

@include desktop {
    height: 740px;
    // width: 60%;
    // width: 58%;
    background-position: top right;
 }
}
.frontpage-content {
    margin: 0;

    @include desktop {
        position: absolute;
        top: 0;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-color: white;
        height: 90vh;
        width: 48%;
    }
}