.page-template-page-impact {
    .impact-container {
        width: 80%;
        margin: 0 auto;
        img {
            height: 400px;
            width: 100%;
        }
        .blue-text {
            color: $color__brand ;
        }
        .grid-impact {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(5, 100px);
            grid-column-gap: 1em;
            width: 100%;
        }
        section:nth-child(odd){
            .grid-impact-number {
                font-size: 7rem;
                grid-column: 4 / span 2;
                grid-row: 2 / span 1;
                z-index: 10;
                margin-left: 20px;
            }
            .grid-impact-heading {
                font-size: 2rem;
                grid-column: 1 / span 6;
                grid-row: 3 / span 1;
                z-index: 10;
                margin: 25px 80px;
            }
            .grid-impact-img {
                grid-column: 5 / span 8;
                grid-row: 2 / span 4;
            }
            .grid-impact-text {
                grid-column: 1 / span 4;
                grid-row: 4 / span 2;
                text-align: right;
            }
        }
        section:nth-child(even){
            .grid-impact-number {
                font-size: 7rem;
                grid-column: 7 / span 6;
                grid-row: 2 / span 1;
                z-index: 100;
                padding: 20px;
            }
            .grid-impact-heading {
                font-size: 3rem;
                grid-column: 7 / span 6;
                grid-row: 3 / span 1;
                z-index: 100;
                padding: 20px;
            }
            .grid-impact-img {
                grid-column: 1 / span 7;
                grid-row: 2 / span 4;
                z-index: 10;
            }
            .grid-impact-text {
                grid-column: 8 / span 4;
                grid-row: 4 / span 1;
            }
        }
    }
}