*{
    margin: 0px;
}

body{
    height: auto;
}

.recycle-banner { 
    height: 356px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
   
    

    @include tablet { 
        background-position: center;
    }

    @include desktop { 
        // height: 529px;
        height: 92vh;
        background-attachment: fixed;
    }
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}




.backgroundBigImage{
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 65vh;
}


/*========================
wheel - contenedor 
====================*/


.wheelPa{
    position: fixed;
    top:5vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    padding-top: 180px;
    height: auto;
    border-radius: 50%;
    z-index: 2;

    @include mobile {
    left: 8%;
    right: initial;
    /* top: 33% */;
    position: absolute;
    top:90vh;
    width: 33%;
    padding-top: 33%;
      
    }

    /* @include tablet{
        top: 30vh;
    } */

    @include desktop{
       /*  top: 20vh; */
        width: 30%;
        padding-top: 30%;
    }


   
}

.wheel{
    position: absolute;
    width: 100%;
    top: 0;
}

.imageHolder{
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: 1;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    overflow: hidden;
    background: #e2e1de;
    
}
.imageBackground{
    position: absolute;
    top: 30%;
    left: 150%;//any change here its neccesary to change it on JS 50
    transform: scale(4.5);
    
}

/*========================
text - contenedor 
====================*/
.whiteOut{
    
    @include mobile {
    position: fixed; 
    width: 50%;
    left: 45%;
    top: 0%;
    height: 100vh;
    background: transparent;
    /* border-top:100px solid white;
    border-bottom: 100px solid white; */
    z-index: 1;
    }

   
}


.text-recycle{

    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 35vh;
    width: 90vw;
    line-height: 1.5rem;
    overflow: hidden;
    @include mobile{
        position: absolute;
        left: 46%;
        right: initial;
        /* top: 20%; */
        top: 90vh;
        width: 45%;
    }
    
    
}

.lateralMovement{
    display: flex;
    width: 360vw;

    @include mobile{
          flex-direction: column;
        }
}
.story-recycle{
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    margin: 0 5vw;

    h2{
        color: $color__brand;
        margin-bottom: 1rem;    
    }

    p{
        margin-bottom: 100px;
        font-size: 0.6rem;
    
        @include mobile{
            font-size: 1rem;
        }
        
    }

    img{
        width: 100%;
    }
    

    @include mobile{
        width: 40vw;
        min-width: 10vw;
        }
}

 

.arrow-down{
    display: none;
    @include mobile{
        display: block;
        position: fixed;
        right: 30%;
        bottom: 8%;
        z-index: 4;
        font-size: 2rem;
        cursor: pointer;
    }
}

.arrow-up{
    display: none;
    @include mobile{
        display: block;
        position: fixed;
        right: 30%;
        top: 10%;
        z-index: 4;
        font-size: 2rem;
        cursor: pointer;
     }
}


/* ================
Nav
================== */

.menu-primary-menu-container{
    top: 60vh;
}