.shop-header {
  height: 10vh;
}

.shop-content-wrapper {
  height: 80vh;
}

.shop-content {
  h1 {
    text-align: center;
    font-size: 16px;
    @include tablet {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    @include tablet {
      font-size: 20px;
    }
  }
}

.rc-logo {
  background-image: url("../../images/rclogo.svg");
  position: fixed;
  width: 100%;
  height: 27px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: 20px;
  
}
.rc-shop-logo {
  background-image: url("../../images/rclogo.svg");
  position: absolute;
  width: 100%;
  height: 27px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
}