.wrapper-20{
  margin: 0 20px;
  @include desktop {
    margin: 0 30px;
  }
}

.single-post-image{
  img {
    width: 100%;
  }
}

.single-post-wrapper{
  nav{
    margin-top:100px;
    margin-bottom: 93px;
  }
}

.blog-entry-header{

  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;

  @include tablet {
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    height: 60vh;
  }

  @include desktop {
    height: 70vh;
  }

  .single-post-hero{
    background-size: cover;
    height: 20vh;
    width: 100%;
    @include tablet {
      height: 100%;
      width: 50%;
    }
  }

  h1 {
    margin: 0;
  }

  .wp-post-image{

    height: 100%;
    width: 100%;

    @include tablet {
      width: 50%;
    }

  }
  .blog-entry-title {	
  
    color: #0545B2;
    font-size: 35px;
    line-height: 2rem;
    margin-bottom: 2rem; 

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F2F2F2;
      font-size: 80px;
      line-height: 1em;
      padding: 20px;
      width: 50%;
      margin: 0;
    }

    @include desktop {
      font-size: 105px;
      line-height: 1.2em;
    }
    
  }
}

.blog-entry-content{

  p {
    line-height: 2rem;
    margin-bottom: 2rem;
    color:$color__border-gray;
  }
  @include tablet {
    max-width: 55.16%;
    margin-left: 50px;
  }

  @include desktop {
    margin-left: 90px;
  }
}

.blog-content-flex{

  display: flex; 
  flex-flow: column nowrap;
  padding: 100px 0;


  @include tablet {
    flex-flow: row nowrap;
  }

  .single-blog-meta{
    text-transform: capitalize;
    margin-bottom: 20px;
    display: grid; 
    grid-template-areas: '
    one two'
    'three three';
    width: 250px;
    .author-info {
      display: flex; 
      flex-flow: column nowrap;
    }

    @include tablet {
      margin: 0;
    }
    time {
      font-style: italic;
    }
  }
}

.entry-meta {
  display: flex;
  height:$author-height;
  img {
    height: 100%;
    width:auto;
    margin-right: 24px;
  }
  .author-info{
    display: flex; 
    flex-flow: column nowrap;
    justify-content: flex-end;
    text-transform: capitalize;
    color:$color__border-gray;
  }
  .social-meta {
    color: $color__brand;
  }
}

.hide-social{
  .social-meta{
    i{
      display: none;
    }
  }
}

.post-up-next{
  height: 268px;
  margin-bottom: 50px;
  display: flex;
  img {
    height: 100%;
    width: auto;
  }
  a {
    text-decoration: none;
    .post-nav-title{
      font-size: 2rem;
    }
  }
}

.single-footer-image {
  width: 300px;
  background-size: cover;
}