@font-face {
    font-family: 'Avenir Book';
    src: url('../../fonts/Avenir-Book.eot');
    src: url('../../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Avenir-Book.woff2') format('woff2'),
        url('../../fonts/Avenir-Book.woff') format('woff'),
        url('../../fonts/Avenir-Book.ttf') format('truetype'),
        url('../../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Avenir Book';
    src: url('../../fonts/Avenir-Heavy.eot');
    src: url('../../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../../fonts/Avenir-Bold.woff') format('woff'),
        url('../../fonts/Avenir-Bold.ttf') format('truetype'),
        url('../../fonts/Avenir-Bold.svg#Avenir-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Avenir Book';
    src:url('../../fonts/Avenir-Bold.woff') format('woff'),
        url('../../fonts/Avenir-Bold.otf') format('otf'),
        url('../../fonts/Avenir-Bold.ttf') format('truetype'),
        url('../../fonts/Avenir-Bold.svg#Avenir-Bold') format('svg');
    font-weight: 1000;
    font-style: bold; 
}

