
.ra-blue-logo {
    background-image: url("../../images/RA-blue-logo.svg");
    width: 102px;
    height: 102px;
    margin-left: 20px;
    margin-top: 50px;
    display: inherit;
    background-size: 90%;
    background-repeat: no-repeat;
    position: fixed;
  }
  @include desktop-XL {
    width: 160px;
    height: 160px;
  }

  .display-none {
    display: none;
  }