.ra-logo, .ra-blue-logo {
background-image:url('../../images/RA-logo.svg');
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: 18px; 
  display: none;
}

.ra-front-page-logo {
    @include desktop {
    background-image:url('../../images/RA-blue-logo.svg');
      width: 102px;
      height: 102px;
      margin-left: 20px;
      margin-top: 50px; 

    }
}

.ra-logo{
@include desktop {
    background-image:none;
 
    width: 102px;
    height: 102px;
    
}
}

