.ra-logo, .ra-blue-logo {
    background-image: url(../../images/RA-logo.svg);
    position: absolute;
    width: 102px;
    height: 102px;
    margin-left: 20px;
    margin-top: 9px;
    z-index: 999;
    background-size: 78%;
    background-repeat: no-repeat;

    @include tablet { 
        margin-top: 44px;
    }
}



.ra-logo{
@include desktop {
    background-image:none;
    width: 102px;
    height: 102px;
    
}
}
