// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/******************************************************/

/* MEDIA QUERIES  */

/********************************************************/

@mixin desktop {
@media (min-width: $breakpoint-desktop) {
    @content;
}};


@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }};

//DO NOT USE FOR NOW
@mixin mobile {
    @media (min-width: $breakpoint-mobile) {
            @content;
}};
