// Structure
$base__font-family          : "Avenir Book", Helvetica;
$base__space-unit           : 1.5rem;
$base__font-size            : 16px;

// Brand Colors
$color__background-body     : #fff;
$color__text-main           : #636363;

$color__border-gray         : #979797;
$color__brand               : #0545b2;

// Default Color
$color__background-screen   : #f1f1f1;
$color__text-screen         : #21759b;

$color__background-hr       : #979797;
$color__background-pre      : #eee;
$color__background-ins      : #fff9c0;
$color__border-abbr         : #666;

$color__link                : royalblue;
$color__link-visited        : purple;
$color__link-hover          : midnightblue;

// Typography
$font__main                 : sans-serif;
$font__code                 : Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre                  : "Courier 10 Pitch", Courier, monospace;
$font__line-height-body     : 1.5;
$font__line-height-pre      : 1.6;

// Media Query
$breakpoint-mobile          : 425px;
$breakpoint-tablet          : 768px;
$breakpoint-desktop         : 1080px;